html{
  cursor:crosshair;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}



/* FONTS */



@font-face {
font-family: 'Arial-Narrow';
src: url('Arial-Narrow.eot?#iefix') format('embedded-opentype'),
     url('Arial-Narrow.woff') format('woff'),
     url('Arial-Narrow.ttf')  format('truetype')

}


@font-face {
font-family: 'MinionPro-Regular';
src: url('MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
     url('MinionPro-Regular.woff') format('woff'),
     url('MinionPro-Regular.ttf')  format('truetype')
}

@font-face {
font-family: 'IBMPlexMono-ExtraLight';
src: url('IBMPlexMono-ExtraLight.eot?#iefix') format('embedded-opentype'),
     url('IBMPlexMono-ExtraLight.woff') format('woff'),
     url('IBMPlexMono-ExtraLight.ttf')  format('truetype')
}

@font-face {
font-family: 'IBMPlexMono-Light';
src: url('IBMPlexMono-Light.eot?#iefix') format('embedded-opentype'),
     url('IBMPlexMono-Light.woff') format('woff'),
     url('IBMPlexMono-Light.ttf')  format('truetype')

   }


   @font-face {
   font-family: 'IBMPlexMono-ExtraLightItalic';
   src: url('IBMPlexMono-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('IBMPlexMono-ExtraLightItalic.woff') format('woff'),
        url('IBMPlexMono-ExtraLightItalic.ttf')  format('truetype')

      }


/* text sizing */

   *{box-sizing:border-box;}
   body{
     box-sizing:border-box;
     margin:0;
     width:100%;
     cursor:crosshair;
   }


   p{
     display:inline;
     margin-top:1em;
     width:50%;
     cursor:crosshair;
   cursor:crosshair;
   font-family:'IBMPlexMono-ExtraLight';
   color:#333333;
   background-color:white;

   font-size:1em;
   padding: 0.27em;
   line-height: 1.82em;
   letter-spacing:0.05em;
   }

   p1{
     background-color:#00AF47;
     padding: 0.27em;
     line-height: 1.82em;
     letter-spacing:0.05em;
     color:white;
      font-family:'IBMPlexMono-ExtraLightItalic';

   }


/* START IMG + NAVBAR */

.startimg{
  width:100%;

}

#navbar{
margin-top:-33em;
width:100%;
line-height: 0.8em;
}

#bold{
  font-family:'IBMPlexMono-Light';
}



.nav-link{
  font-family:'IBMPlexMono-ExtraLight';
  font-size:0.65em;
  color:#333333;
  background-color:white;
  text-decoration: none;
  position:relative;

  letter-spacing:0.05em;
}

/* ABSTRACT */


.ABS{
  width:100%;
  height:50em;
  background-color:  #D8D9D8;
  margin-top:29em;
  position:relative;
  display:block;
}

#absimg{
  width:25%;
top:8em;
  margin-right:auto;
  margin-left:auto;
  position:relative;
  display:block;
  transform: rotate(2deg)
}

.bodytext1{
  margin-top:1em;
  margin-left:0em;
  width:100%;
  float:left;
  margin-bottom: -0.17em;
  text-align: justify;
    text-justify: inter-word;
}

#body_content{
  text-align:left;
  float:right;
  /* position:absolute; */
  /* margin:40px 40px 10px 380px; */
  /* margin-right: 5%; */
  width:56.8035512321%;
height:60em;
  font-family: 'IBMPlexMono-ExtraLight';
  cursor:crosshair;
  margin-top: -0.6%;
  background-color:  #D8D9D8;

}

#abstract{
  margin-top:5em;
}

#ref_content1{
background-color:#D8D9D8;
width:21.59822438395%;
float:right;
top:70em;
height:60em;
margin-top: -0.6%;
}

#img_content1{
background-color:#D8D9D8;
width:21.59822438395%;
top:0em;
margin-top: -0.6%;
height:60em;

}


/* INTRO */

.intro{
  width:100%;
  height:30em;
  background-color: #D8D9D8;
  margin-top:0em;
  position:relative;
  display:block;
}

#introimg{
  width:50%;
top:0em;
  margin-right:auto;
  margin-left:auto;
  position:relative;
  display:block;

}

.bodytext2{
  margin-top:1.5em;
  margin-left:0em;
  width:100%;
  float:left;
  margin-bottom: -0.17em;
  text-align: justify;
    text-justify: inter-word;
}


#body_content2{
  text-align:left;
  float:right;
  /* position:absolute; */
  /* margin:40px 40px 10px 380px; */
  /* margin-right: 5%; */
  width:56.8035512321%;
height:120em;
  font-family: 'IBMPlexMono-ExtraLight';
  cursor:crosshair;
  margin-top: -0.6%;
  background-color:  #D8D9D8;

}

#heading{
  text-align:center;

}

#ref_content2{
background-color:#D8D9D8;
width:21.59822438395%;
float:right;
top:70em;
height:120em;
margin-top: -0.6%;
}

#img_content2{
background-color:#D8D9D8;
width:21.59822438395%;
top:0em;
height:120em;

}


#image{
  margin-right:auto;
  margin-left:auto;
  background-color: white ;
  padding: 10px;
  position: relative;
/* filter: drop-shadow(0em 0.2em 0.1em #666666); */
top:30em;
width:90%;
  font-size:0.6em;
  text-align:center;
  line-height:2.5em;
}



#ref1{
  font-size:0.414083793255em;
  width: 90%;
  margin-top: 55em;
/* transform: rotate(2deg) */
}











/* IMAGES */










/* SOURCES */

#ref_content{
background-color:#D8D9D8;
width:14.5896869848%;
float:right;
top:70em;

margin-top: -0.6%;
}




article {
  margin-right:auto;
  margin-left:auto;
  background-color: white ;
  padding: 10px;
  position: relative;
/* filter: drop-shadow(0em 0.2em 0.1em #666666); */
top:5em;
}

article::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 20px;
  width: 100%;
  left: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg) bottom;
}



#divider{
  border-top:1px dotted #808080;
  width:100%;
  cursor:crosshair;
}


/* PROJECT2: NYSMM IMG FORMATTING */


#img1{
float:center;
    width:99%;

    cursor:crosshair;
    /* filter: drop-shadow(0px 0px 0.5em black); */
    /* filter: drop-shadow(0.07em 0.07em 0.05em #BCBCBC); */
}

#image::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 20px;
  width: 100%;
  left: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg) bottom;
}


/* MOBILE RESPONSIVENESS */
@media only screen and (max-width: 880px) {



header{
  font-size:1em;
  width:100%;
}

p{
font-size:0.8em;
line-height:190%;
}

img{
  width:100%
}

#main_content{
  text-align:left;
  float:none;
  position:absolute;
  width:99%;
}

}
